{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<style>
    .row-cols-lg-4 {
        display: flex;
        flex-wrap: wrap;
    }

    .row-cols-lg-4 .col {
        display: flex;
        flex-direction: column;
    }

    .row-cols-lg-4 .col .card {
        flex-grow: 1;
    }

    .card-header {
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; /* Asegura que la imagen no desborde el card-header */
    }

    .card-header img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ajusta la imagen al tamaño del card-header sin distorsionarla */
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50%;
    }

    .card-body > *:last-child {
        margin-top: auto;
    }
</style>




<div class="container mt-5">
    <div class="text-center">
        <h2 class="mt-4 mb-5">Mis Atenciones</h2>
    </div>

    <h3 style="color: red;">{{ mensaje }}</h3>

    <div class="album py-5 bg-body-tertiary">
        <div id="agregar" style="text-align: right; margin: 30px 120px;">
            <a href="{% url 'agregar_atencion' %}" class="btn"><i class="fa-solid fa-square-plus"></i> Nueva Publicacion</a>
        </div>

        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 justify-content-center">

                {% for atencion in atenciones %}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <img src="{{ atencion.foto.url }}" class="card-img-top" alt="...">
                        </div>

                        <div class="card-body">
                            <h6 class="card-title">{{ atencion.titulo }}</h6>
                            <h7 class="card-title">Categoría: {{ atencion.get_categoria_display }}</h7>
                            <p class="card-text">Estado: {{ atencion.get_estado_display }}</p>
                        
                            {% if atencion.estado == 2 %} {# Estado "Rechazada" #}
                                <p class="card-text">Motivo de Rechazo: {{ atencion.motivoRechazo }}</p>
                            {% endif %}
                            
                            <div class="card-footer">
                                <div class="btn-group my-4">
                                    <a href="{% url 'ver_atencion' atencion.id %}" class="btn btn-sm btn-outline-secondary">Ver</a>
                                    <a href="{% url 'editar_atencion' atencion.id %}" class="btn btn-sm btn-outline-secondary">Editar</a>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    // Envuelve el código JavaScript en una función
    function initCardHeight() {
        // Calcula y establece la altura máxima para los cards en una fila
        function igualarAlturaCards() {
            const cardRows = document.querySelectorAll('.card-row');
            cardRows.forEach(row => {
                const cards = row.getElementsByClassName('card');
                let maxHeight = 0;
                Array.from(cards).forEach(card => {
                    card.style.height = 'auto';
                    if (card.offsetHeight > maxHeight) {
                        maxHeight = card.offsetHeight;
                    }
                });
                Array.from(cards).forEach(card => {
                    card.style.height = maxHeight + 'px';
                });
            });
        }

        // Ejecuta la función después de un breve retraso para asegurar que los cards estén completamente cargados en el DOM
        setTimeout(igualarAlturaCards, 100);
    }

    // Ejecuta la función al cargar la página
    window.addEventListener('DOMContentLoaded', initCardHeight);
</script>


{% endblock %}
