{% extends 'base.html' %}
{% load static %}

{% block contenido %}

{% load crispy_forms_tags %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-8" style="margin: auto; margin-top: 10px">
            <div class="card"  >
                <div class="card-header text-center" >
                    LOGIN
                  </div>
                <div class="card-body">
                    <form class="row" id="loginForm" action="" method="POST" >
                        {% csrf_token %}
                        {{ form | crispy }}
                        
                        <div class="col-12" >
                          <button type="submit" style="width: 100%" class="btn btn-primary">Login</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
{% endblock %}